<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Yummy Recipes | Dashboard</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <header>
        <ul class="nav justify-content-end">
          <li><a class="nav-link" href="javascript:void(0)">Settings</a></li>
          <li><a class="nav-link" href="javascript:void(0)">Sign Out</a></li>
        </ul>
    </header>

    <div class="row">
      <div class="col">
        <section class="main-content">
          <li>First Tag</li>
          <li>First Tag</li>
          <li>First Tag</li>
          <li>First Tag</li>
          <li>First Tag</li>
        </section>
      </div>

      <div class="col">
        <section class="tags">
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
          <li>First Recipe</li>
        </section>
      </div>

      <div class="col">
        <section class="user-details">
          <h5>{{ session['email'] }}</h5>

          <img src="../static/images/lym-160x160.jpg" class="rounded" alt="Responsive image">
        </section>
      </div>
    </div>

    <footer>
      Copyright &copy; 2017 <b>Yummy Recipes Inc.</b><br>
      All rights reserved
    </footer>
  </div>
</body>
</html>
