<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Yummy Recipes</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/stylesheets/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
  <div class="container-fluid">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Navbar Right Menu -->
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>
          </ul>
      </nav>
    </header>

    <div class="jumbotron">
      <h1><a href="javascript:void(0)">Yummy <b>Recipes</b></a></h1>
      <!-- /.lockscreen-item -->
      <p>
        So you want a place to keep track of your recipes and ingredients for that
        Lasagna, Chicken, Breakfast meal?
      </p>

      <p>
        Yummy recipes helps you to create and keep track of recipes and ingredients for your
        favorite meals

        In keeping with the social networking tradition, you are also able to
        share your recipes with others and have them see how mad your kitchen skills are
      </p>
      <p class="lead">
        Excited?
        <a class="btn btn-primary btn-lg" href="/register" role="button">Create an account</a> on
        Yummy Recipes and start on your culinary adventures
     </p>
    </div>
    <footer>
      Copyright &copy; 2017 <b>Yummy Recipes Inc.</b><br>
      All rights reserved
    </footer>
  </div>
</body>
</html>
