<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Yummy Recipes | Register</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <header>
        <ul class="nav justify-content-end">
          <li><a class="nav-link" href="javascript:void(0)">About</a></li>
          <li><a class="nav-link" href="javascript:void(0)">Sign In</a></li>
        </ul>
    </header>

    <h1><a href="/">Yummy Recipes | New User</a></h1>

    <div class="row">
      <div class="col">
          <form action="" method="post">
            <div class="form-group has-feedback">
              <input type="text" class="form-control" name="first_name"
                     placeholder="First Name">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="text" class="form-control" name="last_name"
                     placeholder="Last Name">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" name="email" placeholder="Email">
              <span class="glyphicon glyphicon-envelope form-control-feedback">
              </span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control"
                     placeholder="Password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" name="password"
                     placeholder="Retype password">
              <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <div class="checkbox icheck">
                  <label>
                    <input type="checkbox" name="accept_terms"> Accept the <a href="#">terms</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                  Register
                </button>
              </div> <!-- /.col -->
            </div>
          </form>
          <a href="" class="text-center">Already have an account?</a>
      </div>

      <div class="col">
        <section class="tags">
        </section>
      </div>

      <div class="col">
        <section class="user-details">
        </section>
      </div>
    </div>

    <footer>
      Copyright &copy; 2017 <b>Yummy Recipes Inc.</b><br>
      All rights reserved
    </footer>
  </div>
</body>
</html>
