{% extends "base.html" %}
{% block title %} Yummy Recipes | recipe.get('title') {% endblock %}
{% block content %}
  <h3>{{ recipe.get('data').get('title')|title }}</h3>
  <p>{{ recipe.get('data').get('description')|capitalize }}</p>
  <a href="{{ '/new_instruction' ~ '?recipe=' ~ recipe.get('id') }}">
    <small>Add Instructions</small>
  </a> | 

  <a href="#">
    <small><i class="icon ion-edit"></i></small>
  </a> | 

  <a href="{{ url_for('delete_recipe') ~ '?recipe_id=' ~ recipe.get('id') }}">
    <small><i class="icon ion-android-delete"></i></small>
  </a>
{% endblock %}

ion-android-delete
