{% extends "base.html" %}
{% block title %} Yummy Recipes | recipe.get('title') {% endblock %}
{% block content %}
  <div class="media">
    <img class="d-flex mr-3" src="{{ url_for('static', filename='images/generic_recipe_image.png') }}"
      alt="Recipe image" height="64" width="64">
    <div class="media-body">
      <h3 class="mt-0">{{ recipe.get('data').get('title')|title }}</h3>
      {{ recipe.get('data').get('description')|capitalize }}
      <br>
      <hr>
      {% if recipe_instructions|length is not equalto 0 %}
        {% for instruction in recipe_instructions %}
          <ul>
            <li>
              <!--
              <img class="d-flex mr-3" src="{{ url_for('static', filename='images/generic_recipe_image.png') }}"
                alt="Recipe image" height="64" width="64">
               -->
                <dt>{{ instruction.get('data').get('title') }}:</dt>
                <dd>
                  <small>{{ instruction.get('data').get('description') }}</small>
                </dd>
             </li>
          </ul>
        {% endfor %}
      {% endif %}
      <a href="{{ '/new_instruction' ~ '?recipe=' ~ recipe.get('id') }}">
        <small>Add Instructions</small>
      </a> |

      <a href="{{ url_for('edit_recipe') ~ '?recipe=' ~ recipe.get('id') }}">
        <small><i class="icon ion-edit"></i></small>
      </a>

      <br>
      <form action="/delete_recipe" id="rcp-id" method="post">
        <input type="hidden" id="recipe_id" name="recipe_id"
               value="{{ recipe.get('id') }}">
        <button type="submit" class="btn btn-danger btn-sm" id="rcp-del">
          <small><i class="icon ion-android-delete"></i></small>
          Delete Recipe
        </button>
      </form>
    </div>
  </div>
{% endblock %}
